{% extends "blog/base.html" %}

{% block content %}
<h2>Listado de Géneros</h2>

<a href="{% url 'blog:genero-create' %}">➕ Agregar nuevo género</a>

<hr>

{% if generos %}
    <ul>
        {% for genero in generos %}
            <li>
                <strong>{{ genero.nombre }}</strong>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay géneros cargados todavía.</p>
{% endif %}

<br>
<a href="{% url 'blog:pelicula-list' %}">⬅ Volver a películas</a>

{% endblock %}